<% content_for :title  do %>
  <%= @business.name %> Profile
<% end %>


this is a show page for an individual business....... not sure if replaces
'profile' as seen by other users??


<h1>
  <%= @business.name %>
</h1>
  <%= cl_image_tag @business.photo.key, alt: "alttext" %>
