// Define variables for your color scheme

// For example:
$red: #C72428;
$blue: #3084C6;
$yellow: #FFE168;
$orange: #FF5E5B;
$green: #A8C686;
$dark-gray: #A3A3A3;
$gray: #C9C9C9;
$light-gray: #E8E9EB;
$black: #423E37;
