<h1>FoodDonations#index</h1>
<p>Find me in app/views/food_donations/index.html.erb</p>

this is the index for food_donations, needs auth so only charities can see not businesses.
each donation on card

<% if @food_donations %>
  <% @food_donations.each do |donation| %>
    <p> <%= donation.food_items.first.business.name %> </p>
    <p> <%= donation.food_items.count %> Items </p>
    <%= link_to "View", food_donation_path(donation) %>
  <% end %>
<% else %>
  <p>There Ain't No Food Donations... you're a selfish bunch</p>
<% end %>
