<%# current_user.food_items.first.food_donation.each do |donation| %>
    <!-- <p>Your donation of  --- food items logic here--- available at -->
    <!-- <%#= donation.address %> for <%#= dropoff ? "dropoff" : "pick-up only" %>.</p> -->
<%# end %>

<% @my_donation_test = current_user.food_items.first.food_donation %>
    <p>Your donation of  --- food items logic here--- available at
    <%= my_donation_test.address %> for <%= my_donation_test.dropoff ? "dropoff" : "pick-up only" %>.</p>
