<div class="home-page-banner">
  <div class="banner-text">
    <h2>Food For Free</h2>
    <h3>Connecting business with the community to reduce food waste and feed those in need</h3>
  </div>
</div>


