<% content_for :title  do %>
  Home
<% end %>
  <div class="home-page-banner">
    <div class="container">
      <div class="banner-text">
        <h2>Food For Free</h2>
        <p>Connecting the business who wants to give back with the community in need of food.</p>
      </div>
    </div>
  </div>

<% if user_signed_in? && current_user.charity %>
  <%= render 'charity_dashboard_partial'  %>
<% elsif user_signed_in? && current_user.business %>
  <%= render 'business_dashboard_partial' %>
<% else %>


  <div class="container centered-content" style='padding-top: 40px'>
    <div class="show-card" style='text-align: justify;'>

      <h3>A third of all food produced is wasted.</h3>
        <hr />
      <p>Australian’s throw out $8 billion worth of edible food every single year.
        <em>That’s four million tonnes</em>.
        <br><br>
         In the last year, 5 million Australians had to skip or slim their meals,
          with 30% of them going without food for an entire day once a week.
          This includes not only our nation’s homeless but a large proportion of women,
        children and elderly - some of the most vulnerable members of our community.</p>

  <h5>Food For Free is a simple yet powerful solution: </h5>
  <p>Over-catered events and unexpected cancelations no longer need to result in huge food
    wastage. This food can now be seamlessly donated to a charity, going straight to the
    people and families who are unable to afford it.
    <br>
    We're bridging the gap between businesses who want to give back to their community
    and those charities and non-profit organisations running programs for those in need.</p>

    <br>
      <% if !user_signed_in? %>
        <div class='container centered-content', style="margin: 0 auto;">
          <button><%= link_to "I'm A Business", class: "btn blue-button" %></button>
          <button><%= link_to "I'm A Charity",  class: "btn blue-button"%></button>
        </div>
        <br>
      <% end %>

    </div>
  </div>
<% end %>

<!-- food for those who are homeless or doing it tough for other reasons and unable to feed themselves or their families.</p> -->
