<% content_for :title  do %>
  Home
<% end %>

<div class="home-page-banner">
  <div class="container">
    <div class="banner-text">
      <h2>Food For Free</h2>
      <h3>Connecting business with the community to reduce food waste and feed those in need</h3>
        <div class='row'>
          <div class="btn blue-button"><%= link_to "I'm A Business" %></div>
          <div class="btn blue-button"><%= link_to "I'm A Charity" %></div>
        </div>
    </div>
  </div>
</div>


<div class="container">

<h3>One third of all food produced is lost or wasted.</h3>

Australian’s throw out $8 billion worth of edible food each year. That’s 4,000,000 tonnes of food every single year.

60% of this is fresh food or leftovers.

Australia produces enough food to feed 40 million people, and yet the Foodbank Hunger Report released in 2019 reports 5 million people had run out of food in the last year, often skipping or slimming meals, with 30% of them going without food for an entire day once a week.

This includes not only our nation’s homeless but a large proportion of women, children and elderly. These are some of the most vulnerable members of our community, who are also more likely to have experienced domestic violence or be impacted by other hardships.

Rather than turning a blind eye on this crisis, we decided to create a simple yet powerful solution:


------ graphic  ---------


Food For Free connects businesses who want to give back to the community with charities and non-profit organisations who run programs for those in need. This includes food for those who are homeless or doing it tough for other reasons and unable to feed themselves or their families.
</div>
