<div class="container">
<div>
  <h2>Donation Card</h2>
  <div class="d-flex">
    <div class="card donation-card">
      <h2 class="donation-card-title">Beef Lasange</h2>
      <div class="donation-card-body">This was made today for a conference that was cancelled at the last minute. Packaged up and ready to go.</div>
      <div class="donation-card-quantity">110 Serves</div><div class="donation-card-expiry">Expires: 3 days</div>
      <div class="donation-card-location">Location: Melbourne CBD</div>
    </div>
  </div>

</div>
<hr />


<div>
  <h2>Dashboard card</h2>


</div>
<hr />


<div>
  <h2>Tags</h2>


</div>

<hr />


<div>
  <h2>Image upload</h2>


</div>
<hr />


<div>
  <h2>Text field</h2>

<div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
</div>
<hr />


<div>
  <h2>Text area</h2>


</div>
<hr />


<div>
  <h2>Quantity select</h2>


</div>
<hr />


<div>
  <h2>Buttons</h2>
  <button type="button" class="btn btn-info submit-button">Submit button</button>
  <button type="button" class="btn btn-outline-danger delete-button">Delete button</button>
</div>
<hr />

</div>

