<h1>FoodItems#index</h1>
<p>Find me in app/views/food_items/index.html.erb</p>

<!--
[[0, "Gluten-Free"], [1, "Dairy-Free"], [2, "Lactose-Free"], [3, "Halal"],
            [4, "Kosher"], [5, "Vegetarian"], [6, "Vegan"], [7, "Packaged Food"],
            [8, "Prepared Meal"], [9, "Fruit"], [10, "Vegetable"], [11, "Sugar-Free"],
            [12, "Low Sodium"], [13, "Drink"], [14, "Canned Food"], [15, "Long-Lasting"],
            [16, "Dairy"], [17, "Nut-Free"], [18, "Meat"], [19, "Fish"], [20, "Poultry"],
            [21, "Grains"], [22, "Baked Goods"], [23, "Condiments"], [24, "Breakfast"],
            [25, "Soup"], [26, "Sweet"]],
              label_method: :second,
              value_method: :first] -->
<!--
[["Gluten-Free", "Gluten-Free"], ["Dairy-Free", "Dairy-Free"], ["Lactose-Free", "Lactose-Free"], ["Halal", "Halal"],
            ["Kosher", "Kosher"], ["Vegetarian", "Vegetarian"], ["Vegan", "Vegan"],
            ["Packaged Food", "Packaged Food"],
            ["Prepared Meal", "Prepared Meal"], ["Fruit", "Fruit"], ["Vegetable", "Vegetable"], ["Sugar-Free", "Sugar-Free"],
            ["Low Sodium", "Low Sodium"], ["Drink", "Drink"], ["Canned Food", "Canned Food"], ["Long-Lasting", "Long-Lasting"],
            ["Dairy", "Dairy"], ["Nut-Free", "Nut-Free"], ["Meat", "Meat"],
            ["Fish", "Fish"], ["Poultry", "Poultry"],
            ["Grains", "Grains"], ["Baked Goods", "Baked Goods"],
            ["Condiments", "Condiments"], ["Breakfast", "Breakfast"],
            ["Soup", "Soup"], ["Sweet", "Sweet"]] -->
