.claim-show-body {
  position: relative;
  width: 100%;
  text-align: center;
}

.claim-show-text {
  margin: 0 auto;
  max-width: 450px;
  padding-bottom: 8px;
  p {
    margin-bottom: 0;
  }
}

.claim-show-info {
  text-align: center;
  h1 {
    font-size: 1.5rem;
  }
}

.undo-button {
  margin: 0;
  padding-bottom: 8px;
  text-align: center;
}
