.claim-show-body {
  position: relative;
  width: 100%;
  text-align: center;
}

.claim-show-text {
  margin: 0 auto;
  max-width: 450px
}

.claim-show-info {
  h1 {
    font-size: 1.5rem;
  }
}

.undo-button {
  padding: 16px 0 0 56px;
  text-align: left;
}
