.donation-card {
  border-color: #A39594;
  padding: 16px;

  .donation-card-title {
    font-size: 24px;

  }
  .donation-card-body {
    overflow-wrap: normal;
    width: 20em;

  }
  .donation-card-quantity {

  }
  .donation-card-location {

  }
  .donation-card-expiry {

  }
}
