footer {
  background: #7BB0DA;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 64px;
}

.links {
  text-align: center;
  font-size: 40px;
  padding: 10px;
}

.logout-text {
  font-size: 18px

}
