<% content_for :title  do %>
  Edit Your Review
<% end %>
  <div class="page-header">
    <h1>Edit your review</h1>
  </div>
  <%= simple_form_for @review do |f|%>
  <div class="form-card">
    <%= f.input :star, as: :radio_buttons, collection: [0, 1, 2, 3, 4, 5] %>
    <%= f.input :content %>

    <%= f.button :submit, 'Submit Changes', class: 'btn yellow-button' %>
  </div>
<% end %>
